<p>Please Enter you're username and password</p>
<form class="register" action="/login" method="POST">
  <input
    class="input"
    type="email"
    id="txtSearch"
    name="email"
    style="border-color: rgb(121, 83, 83); border-radius: 20%"
    onkeypress="searchKeyPress(event)"
  />
  <input
    class="input"
    type="password"
    id="txtSearch"
    name="password"
    style="border-color: rgb(31, 18, 18); border-radius: 20%"
    onkeypress="searchKeyPress(event)"
  />

  <input type="submit" id="btnSearch" name="login" value="Login" />
</form>
